/*body,*{
    margin: 0;
    padding: 0;
}*/
.block1 {
  width: 400px;
  height: 200px;
  background-color: #063bcf80 81, 10, 0.5);
  padding: 25px;
  margin: 40px;
  border: 5px solid rgb(240, 12, 12);
  /*ширина = 825+25*2+5*2+40*2*/
  /*высота = 415+25*2+5*2+40*2*/
}
